.forum-folder-legend dd {
  width: 150px;
  float: left;
  vertical-align: middle;
  display: block;
}

.forum-folder-legend dt {
  float: left;
  display: block;
}

.forum-post-panel-main {
  min-height: 150px;
}