#name-and-slogan {
  height: 80px;
  width: 48%;
  float: left;
  font-size: 1.6em;
  padding-top: 24px;
}

#site-name {
  width: 60%;
/*  font-family: Georgia, Times, serif;*/
}

#site-name a:hover, #site-name a:focus {
  text-decoration: none;
}

#site-logo {
  width: 20%;
  float: left;
}

.region-header {
  width: 45%;
  float: left;
  padding-top: 15px;
  padding-left: 20px;
}

div#block-mct_user-top-menu {
  width: 50%;
  float: left;
  height: 108px;
}

div#block-search-0 {
  width: 50%;
  float: right;
}

div#block-block-5 {
  width: 45%;
  float: right;
}