/* $Id: layout-fixed.css,v 1.17 2009/11/05 12:09:53 johnalbin Exp $ */

/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */


/*
 * Body
 */
body {
}

#page-wrapper,
.region-page-closure {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#page {
  background-image: url('/sites/all/themes/mct_zen/images/bike-outline.gif');
  background-position: 23% -10px;
  background-repeat: no-repeat;
  border: 2px solid #c00;
  -moz-border-radius: 1em 3em 1em 3em;
  border-radius: 1em 3em 1em 3em;
}

/*
 * Header
 */
#header {
  height: 140px;
  width: 700px;
  padding: 0px 10px;
}

#header .section {
}

#search-box {
  padding-top:15px;
  width: 20%;
  float: left;
  height: 125px;
}

.region-header {
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
  position: relative;
}

#main {
}

/*
 * Content
 */
#content {
  float: left; /* LTR */
  width: 700px;
}

#content .section {
  margin: 0;
  padding: 10px;
  float: left;
}

/*
 * Navigation
 */
#navigation {
  float: left; /* LTR */
  width: 240px;
  margin: 10px 0px 20px 0px;
}

.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second {
}

#navigation .section {
  border: solid 2px #FFBB89;
}

#navigation ul /* Primary and secondary links */ {
  background: #821 url(/sites/all/themes/mct_zen/images/menu.png) repeat top right;
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation li /* A simple method to get navigation links to appear in one line. */ {
  text-align: center;
  height:22px;
  float: left; /* LTR */
  width: 118px;
  padding: 0px; /* LTR */
  color: #fff;
  font-weight: bold;
}


#navigation li a {
  padding: 5px;
  color: #fff;
  font-weight: bold;
}

/*
 * Second sidebar
 */
.region-sidebar-second {
  float: left; /* LTR */
  width: 256px;
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
#footer {
}

#footer .section {
}

/*
 * Closure
 */
.region-page-closure /* See also the #page-wrapper declaration above that this div shares. */ {
}

/*
 * Prevent overflowing content
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.region-page-closure {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}

#navigation {
  overflow: hidden; /* May need to be removed if using a dynamic drop-down menu */
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/

