body.front-page h1 {
  display: none;
}

body.front-page #header {
  margin-bottom: 3.2em;
}

ul.forum-links {
  margin-top: 0px;
  margin-bottom: 0px;
}

li a.active {
  color: #611;
  margin: 0px 0px 0px 4px;
  font-style: italic;
}

#block-views-featured_sponsor-block_1 {
  margin-top: -125px;
  height: 150px;
  width: 200px;
}

#block-views-featured_sponsor-block_1 div.views-admin-links {
  margin-top: -135px;
}

#block-views-featured_sponsor-block_1 a {
  height: 140px;
}

#block-views-featured_sponsor-block_1 img {
  vertical-align: middle;
}

#block-views-news-block_1 {
  margin-top: 49px;
}

#main > #content > .section {
  width: 680px;
  overflow-x: hidden;
  overflow-y: hidden;
}

body.front-page #main > #content > .section {
  width: 936px;
}

.region-sidebar-second {
  margin-top: 55px;
}

.views-admin-links ul.links {
  z-index: 0;
  position: relative;
  line-height: 1;
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
}

.sidebar .block {
  border: 2px solid #C00;
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
}

.sidebar .block .content {
  padding: 3px;
}

#block-views-sponsors-block_1 {
  position: absolute;
  top: -140px;
  padding: 15px 2px 0px 2px;
  margin-bottom: 10px;
  border: 0px;
}

body.front-page #block-views-sponsors-block_1 {
  top: -170px;
  padding: 15px 2px 40px 2px;
}

#block-views-sponsors-block_1 .content {
  padding: 0px;
  border: 0px;
}

.sidebar .block > a {
  height: 16px;
}

.sidebar .block .view-header p{
  margin: 5px 4px 2px 5px;
  text-align: right;
  color: #511;
  font-weight: bold;
}

.sidebar .block .view-header a{
  color: #511;
}

.sidebar .block ul {
  padding: 2px 4px 2px 4px;
  margin: 0px;
}

.sidebar .block h2 {
  font-size: 1.2em;
  float: right;
  width: 100%;
  text-align: right;
}

.sidebar .block .content li {
  padding: 3px;
  list-style-type: none;
  border-top: 1px solid #e55;
}

.sidebar .block .content li.first {
  padding: 3px;
  list-style-type: none;
  border-top: 2px solid #ffccaa;
}

h1 {
  font-family: Georgia, Times, serif;
  font-size: 2.5em;
  font-weight: normal;
}

/* Front page latest forum topics block. */
div#block-views-forum-block_3, 
div#block-aggregator-category-1 {
  padding: 0 15px 0 0;
  width: 23%;
  float: left;
}

div#block-views-forum-block_3 ul ,
div#block-aggregator-category-1 ul {
  margin: 0;
  padding: 0 0 4px 0;
}

div#block-views-forum-block_3 ul li,
div#block-aggregator-category-1 ul li {
  list-style-type: none;
}

div#main div.forum-post-wrapper img.bb-image, div#main div#forum-comments img.bb-image {
  max-width: 100%;
}


