/* $Id: tabs.css,v 1.2 2009/08/12 08:03:53 johnalbin Exp $ */

/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal6-reference.css, line 510.)
 */


div.tabs {
  margin: 0 0 5px 0;
}

ul.nav-primary {
  margin: 0;
  padding: 0 0 0 10px; /* LTR */
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  background: url(../images/tab-bar.png) repeat-x left bottom;
}

ul.nav-primary li {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

ul.nav-primary li a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px; /* width of tab-left.png */
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  color: #777;
  background-color: transparent;
  background: url(../images/tab-left.png) no-repeat left -38px;
}

ul.nav-primary li a .tab {
  display: block;
  height: 20px; /* 24px (parent) - 4px (padding) */
  margin: 0;
  padding: 4px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
  background: url(../images/tab-right.png) no-repeat right -38px;
}

ul.nav-primary li a:hover {
  border-width: 0;
  background-color: transparent;
  background: url(../images/tab-left.png) no-repeat left -76px;
}

ul.nav-primary li a:hover .tab {
  background: url(../images/tab-right.png) no-repeat right -76px;
}

ul.nav-primary li.active a,
ul.nav-primary li.active a:hover {
  border-width: 0;
  color: #000;
  background-color: transparent;
  background: url(../images/tab-left.png) no-repeat left 0;
}

ul.nav-primary li.active a .tab,
ul.nav-primary li.active a:hover .tab {
  background: url(../images/tab-right.png) no-repeat right 0;
}

ul.nav-primary li.menu-tab {
  float: right;
}

/* *** */

ul.primary {
  font-size: 0.9em;
  margin: 0;
  padding: 0 0 0 4px; /* LTR */
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
}

ul.primary li {
  float: right; /* LTR */
  margin: 2px;
  padding: 0;
}

ul.primary li a {
  display: block;
  height: 18px;
  margin: 0;
  padding: 0 0 0 5px; /* width of tab-left.png */
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  font-weight: normal;
  text-decoration: none;
  color: #777;
  background-color: transparent;
}

ul.primary li a .tab {
  display: block;
  border-width: 1px;
  height: 16px; /* 24px (parent) - 4px (padding) */
  margin: 0px;
  padding: 2px 4px 0 2px;
  line-height: 14px;
}

ul.primary li a:hover {
  background-color: transparent;
}

ul.primary li a:hover .tab {
}

ul.primary li.active a,
ul.primary li.active a:hover {
  color: #000;
  background-color: transparent;
  border-color: #ccc;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
}

ul.primary li.menu-tab {
  float: right;
}

ul.primary.tabs {
}

/* *** */

ul.secondary {
  margin: 0;
  padding: 0 0 0 5px; /* LTR */
  border-bottom: 1px solid #c0c0c0;
  list-style: none;
  white-space: nowrap;
  background: url(../images/tab-secondary-bg.png) repeat-x left bottom;
}

ul.secondary li {
  float: left; /* LTR */
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none; /* LTR */
}

ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
  text-decoration: none;
  color: #777;
  background: url(../images/tab-secondary.png) repeat-x left -56px;
}

ul.secondary a .tab {
  display: block;
  height: 18px; /* 24px (parent) - 6px (padding) */
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}

ul.secondary a:hover {
  background: url(../images/tab-secondary.png) repeat-x left bottom;
}

ul.secondary a.active,
ul.secondary a.active:hover {
  border: 1px solid #c0c0c0;
  color: #000;
  background: url(../images/tab-secondary.png) repeat-x left top;
}
