/* $Id: views-styles.css,v 1.1 2009/08/12 04:25:15 johnalbin Exp $ */

/**
 * @file
 * Views Styling
 */
.field-field-news-highlight {
  width: 236px;
  margin: 0 0 0 4px;
}

#block-views-news-block_3 .views-row {
  width: 100%;
  float: left;
}

#page div.views-field-field-news-highlight-value {
  float: right;
  width: 238px;
  padding: 4px 10px;
  border: 1px dashed red;
  border-radius: 5px;
  font-style: italic;
}

#page div.region-content-top div.views-field-title {
  font-size: 1.3em;
  line-height: 1.5em;
  padding: 5px 0px;
  font-weight: bold;
}

#block-views-sponsors-block_2 {
  padding: 0px 5px;
}

#block-views-sponsors-block_2 .views-view-grid{
  border-top: 1px solid #C00;
  margin-right: auto;
  margin-left: auto;
}


#block-views-sponsors-block_2 td {
  padding: 5px 5px;
}

/* Front page latest news block. */
div#block-views-news-block_5 {
  width: 50%;
  float: left;
}

div#block-views-news-block_5 h2 {
  text-align: center;
}

div#block-views-news-block_5 .views-field-created,
div#block-views-news-block_5 .views-field-teaser {
    width: 200px;
}


#page div#block-views-news-block_5 div.views-field-field-news-highlight-value {
  width: 205px;
  margin-right: 30px;
}
