#block-mct_user-top-menu h2 {
  font-size: 1.1em;
}

#block-mct_user-top-menu img {
  margin: 4px;
  height: 32px;
}

#top-login-links a {
  font-weight: bold;
  font-size: 1.15em;
  color: #822;
  text-decoration: none;
}

#top-login-form {
  display: None;
  position: absolute;
  background: #F1F1F1;
  z-index: 100;
  -moz-border-radius:5px 5px 5px 5px;
  -moz-box-shadow: 0 3px 4px rgba(28, 28, 28, 28);
  -webkit-box-shadow: rgba(28, 28, 28, 28);
  border: solid #822;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  width: 150px;
}

#top-login-form {
  font-size: 0.9em;
  line-height: 1.2em;
  margin: 0px;
}

#top-login-form .form-item {
  padding: 0px 0px 0px 5px;
  margin: 0px;
}

#top-login-form .form-submit {
  margin: 2px 5px;
}

#top-login-form ul {
  margin: 0px;
  padding: 5px;
}

#top-login-form li {
  list-style-type: none;
  margin-bottom: 5px;
}

