<br><br>
<table>
<tr><td align="center">
<a href="http://www.mcgill.ca/athletics/" target="_blank"><img src="misc/sponsors/1mcgill_athletics.gif" width="110" border="0" /></a></td></tr>
<tr><td align="center">
<a href="http://cyclesgervaisrioux.com/" target="_blank"><img src="misc/sponsors/2cgr.JPG" width="150" border="0" /></a></td></tr>
<tr><td align="center">
<a href="http://www.suarezcanada.com/" target="_blank"><img src="misc/sponsors/3Suarez.png" width="150" border="0" /></a></td></tr>
<tr><td align="center">
<img src="misc/sponsors/4nativo.jpg" width="150" border="0" /></td></tr>
<tr><td align="center">
<a href="http://www.discountcar.com/English/" target="_blank"><img src="misc/sponsors/5discount.jpg" width="150" border="0" /></a></td></tr>
<tr><td align="center">
<a href="" target="_blank"><img src="misc/sponsors/6precision.jpg" width="150" border="0" /></a></td></tr>
<tr><td align="center">
<a href="http://www.neuvationcycling.com/" target="_blank"><img src="misc/sponsors/7neuvation.JPG" width="150" border="0" /></a></td></tr>
<tr><td align="center">
<a href="http://www.rudyprojectusa.com/" target="_blank"><img src="misc/sponsors/8rudy.JPG" width="150" border="0" /></a></td></tr>
<tr><td align="center">
<a href="http://www.brasseriebenelux.com/" target="_blank"><img src="misc/sponsors/9benelux.jpg" width="150" border="0" /></a></td></tr>
<tr><td align="center">
<img src="misc/sponsors/10vertelligence.jpg" width="150" border="0" /></td></tr>
<tr><td align="center">
<a href="http://www.chateaumsa.com/en/" target="_blank"><img src="misc/sponsors/11ChateauMSA_fr.jpg" width="150" border="0" /></a></td></tr>
<tr><td align="center">
<a href="https://www.alumni.mcgill.ca/online-giving/" target="_blank"><img src="misc/sponsors/12mcgillalumni.JPG" width="150" border="0" /></a></td></tr>
<tr><td align="center">
<a href="http://www.oracle.com/" target="_blank"><img src="misc/sponsors/13oracle.gif" width="135" border="0" /></a></td></tr>
</table>
