<div id="sponsors-slideshow" class="slideshow" > 
<img style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 400px; height: 120px;" src="misc/header/IMGP2978.JPG" width="400" height="120">
<a href="http://www.mcgill.ca/athletics/" target="_blank"><img style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 400px; height: 120px;" src="misc/sponsors/1mcgill_athletics.gif" width="110" border="0" /></a>
<a href="http://cyclesgervaisrioux.com/" target="_blank"><img style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 400px; height: 120px;" src="misc/sponsors/2cgr.JPG" width="150" border="0" /></a>
<a href="http://www.suarezcanada.com/" target="_blank"><img style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 400px; height: 120px;" src="misc/sponsors/3Suarez.png" width="150" border="0" /></a>
<img style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 400px; height: 120px;" src="misc/sponsors/4nativo.jpg" width="150" border="0" />
<a href="http://www.discountcar.com/English/" target="_blank"><img style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 400px; height: 120px;" src="misc/sponsors/5discount.jpg" width="150" border="0" /></a>
<a href="" target="_blank"><img style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 400px; height: 120px;" src="misc/sponsors/6precision.jpg" width="150" border="0" /></a>
<a href="http://www.neuvationcycling.com/" target="_blank"><img style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 400px; height: 120px;" src="misc/sponsors/7neuvation.JPG" width="150" border="0" /></a>
<a href="http://www.rudyprojectusa.com/" target="_blank"><img style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 400px; height: 120px;" src="misc/sponsors/8rudy.JPG" width="150" border="0" /></a></td>
<a href="http://www.brasseriebenelux.com/" target="_blank"><img style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 400px; height: 120px;" src="misc/sponsors/9benelux.jpg" width="150" border="0" /></a>
<img style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 400px; height: 120px;" src="misc/sponsors/10vertelligence.jpg" width="150" border="0" />
<a href="http://www.chateaumsa.com/en/" target="_blank"><img style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 400px; height: 120px;" src="misc/sponsors/11ChateauMSA_fr.jpg" width="150" border="0" /></a>
<a href="https://www.alumni.mcgill.ca/online-giving/" target="_blank"><img style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 400px; height: 120px;" src="misc/sponsors/12mcgillalumni.JPG" width="150" border="0" /></a>
<a href="http://www.oracle.com/" target="_blank"><img style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 400px; height: 120px;" src="misc/sponsors/13oracle.gif" width="135" border="0" /></a>
    </div>
