
  /* Fancy 3D fieldsets */
  fieldset
  {
    _background: #EDEDED;
    _border-width: 0px;
    _border-right: 2px solid #C0C0C0;
    _border-bottom: 2px solid #C0C0C0;
    padding: 10px;
  }

  fieldset fieldset
  {
    _background: #f7f7f7;
    _border-width: 0px;
    _border-right: 2px solid #ddd;
    _border-bottom: 2px solid #ddd;
    padding: 10px;
  }
  
  legend 
  {
    background: transparent;
    font-weight: bold;
    letter-spacing: .5px;
    color: #414141;
  }

  html:not([dummy]) fieldset
  {
    background: #EDEDED;
    border-width: 0px;
    border-right: 2px solid #C0C0C0;
    border-bottom: 2px solid #C0C0C0;
  }
  
  html:not([dummy]) fieldset fieldset
  {
    background: #f7f7f7;
    border-width: 0px;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    clear: left;
  }