.mct-order-item-header, .mct-order-operations-header {
  font-weight: bold;
}

.mct-order-item-header > div, .mct-order-item > div {
  float: left;
  width: 18%;
  padding: 0px 3px;

}

.mct-order > div, .mct-order-operation {
  float: left;
  width: 100%;
}

.mct-order-operation-status {
  float: left;
  width: 15%;
  padding: 0px 3px;

}

.mct-order-total {
    font-weight: bold;
}

.mct-order-operation-date {
  float: left;
  width: 30%;
  padding: 0px 3px;
}

.mct-order-operation-comment {
  float: left;
  width: 45%;
  padding: 0px 3px;
}

.mct-order-operations-header, .mct-order-operations, .mct-order-item-header, .mct-order-item {
  float: left;
  width: 100%;
  display: block;
}

