fieldset.mct-shop-filters {
  width: 662px;
}

fieldset.mct-shop-filters > div {
  float: left;
  padding: 0px 5px 0px 5px;
}

fieldset.mct-shop-filters > span {
  width: 100%;
  height: 1px;
  float: left;
  padding: 0px 5px 0px 5px;
}

fieldset.mct-shop-filters > input {
  float: left;
}

div.mct-shop-csv-warning {
  margin: 2px;
  padding: 2px;
  border: solid 1px grey;
  background-color: #ffc;
}