.mct-shop-item {
  width: 100%;
  height: auto;
  overflow-y: auto;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  margin-bottom: 8px;
}

.mct-shop-list-image {
  width: 110px;
  height: 110px;
  float: left;
}

.mct-shop-list-text {
  width: 200px;
  float: left;
}

.mct-shop-list-title {
  font-weight: bold;
  float: bottom;
}

.mct-shop-list-body {
  font-style: italic;
  float: bottom;
}

.mct-shop-list-price {
  float: bottom;
}

.mct-shop-list-quantity {
  float: left;
  width: 345px;
}

.mct-shop-list-quantity fieldset {
  margin: 0px;
  padding: 0px;
}

.mct-shop-list-quantity .form-item {
  float: left;
  width: 55px;

}

#block-mct_shop-order_total, #block-mct_shop-my_orders {
  font-size: 0.875em;
  padding: 5px 4px 2px 5px;
}